# Battery KPI - from Python to SML
The pourpose of this experiment is to simplify and attach the 
existing code for this kpi about devices and battery in our sml language.
In this notebook we will review the current code starting with data from an existing json file with the filtered data as it will be provided by the framework. The code that will be included in the SML expression is the one inside rhe function "f"

In [3]:
import json
import pandas as pd
import datetime
import sys #?
import getopt #?

#DATA FETCH - DONE BY FRAMEWORK
with open('2106_08_22_10_18_json.json') as json_data:
    d = json.load(json_data)
data = pd.DataFrame(d)
  
#PARAMETER SETTING - DONE BY FRAMEWORK (WORK IN PROGRESS)
def f(data):
    shift = 0
    threshold = 10
    start = "2016-08-22"
    end = "2016-08-23"

#USER CODE BEGINS
    cols = data.select_dtypes(['object'])
    data[cols.columns] = cols.apply(lambda x: x.str.strip())
    data['time_stamp'] = pd.to_datetime(data['time_stamp'], format='%Y-%m-%d %H:%M:%S')
    data.set_index(['devid', 'time_stamp'], inplace=True)
    data.sort_index(level=1, inplace=True)
    dischargedGroup = (data.groupby(level=0, sort=False)['intvalue']
                           .apply(list))
    def check(line):
        oldval = 100
        for i in line:
            if (i > oldval) | (i < threshold):
                return 1
                break
            else:
                oldval = i
        return 0
    
    discharged = dischargedGroup.apply(check)
    dischargedGroup = pd.DataFrame(dischargedGroup)
    discharged = pd.DataFrame(discharged)
    discharged = discharged[discharged['intvalue'] > 0]
    discharged = pd.merge(discharged, dischargedGroup, left_index=True, right_index=True)
    discharged['StartDate'] = start
    discharged['EndDate'] = end
    return discharged

result = f(data)

result

,intvalue_x,intvalue_y,StartDate,EndDate
devid,,,,
73E65B76064901080004-0EC008320600,1,"[22, 21, 20, 19, 19, 18, 17, 17, 16, 15, 14, 1...",2016-08-22,2016-08-23
73E65B76064901080005-09E080402600,1,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...",2016-08-22,2016-08-23
73E65B76064901080005-113026640600,1,"[14, 12, 11, 100, 100, 100, 100, 100, 100, 100...",2016-08-22,2016-08-23
73E65B76064901080006-12A0D4720600,1,"[10, 100, 100, 100, 100, 100, 100, 100, 100, 1...",2016-08-22,2016-08-23
73E65B7606490108000D-1BB066730600,1,"[29, 30, 27, 26, 24, 23, 22, 20, 19, 18, 17, 1...",2016-08-22,2016-08-23
73E65B76064901080013-1BA078590600,1,"[12, 12, 10, 100, 100, 100, 100, 100, 100, 100...",2016-08-22,2016-08-23
73E65B76064901080016-03F064280600,1,"[18, 17, 17, 16, 100, 100, 100, 100, 100, 100,...",2016-08-22,2016-08-23
73E65B76064901080019-0960AC610600,1,"[17, 15, 13, 11, 10, 10, 9, 8]",2016-08-22,2016-08-23
73E65B76064901080101-0C706C6B0600,1,"[10, 10, 9, 100, 100, 100, 100, 100, 100, 100,...",2016-08-22,2016-08-23
73E65B76064901080101-1C60E8032600,1,"[10, 100, 100, 100, 100, 100, 100, 100, 100, 1...",2016-08-22,2016-08-23
73E65B76064901080102-0900D66B0600,1,"[57, 55, 52, 46, 39, 33, 100, 100, 100, 100, 1...",2016-08-22,2016-08-23
73E65B76064901080109-0ED0FE1E0600,1,"[16, 15, 14, 12, 100, 100, 100, 100, 100, 100,...",2016-08-22,2016-08-23
73E65B76064901080109-1BA0427E0600,1,"[11, 100, 100, 100, 100, 100]",2016-08-22,2016-08-23
73E65B7606490108010A-1A30C0360600,1,"[11, 100, 100, 100, 100, 100, 100, 100, 100, 1...",2016-08-22,2016-08-23
73E65B7606490108010F-0BD088560600,1,"[8, 100, 100, 100, 100, 100, 100, 100, 100, 10...",2016-08-22,2016-08-23
73E65B76064901080115-0C80A4700600,1,"[18, 17, 16, 14, 12, 11, 10, 10, 10, 9]",2016-08-22,2016-08-23
73E65B76064901080116-0230E2450600,1,"[17, 14, 12, 100, 100, 100, 100, 100, 100, 100...",2016-08-22,2016-08-23
73E65B76064901080118-19E0A8500600,1,"[12, 10, 7]",2016-08-22,2016-08-23
73E65B76064901080118-1D00A4150600,1,"[11, 100, 100, 100, 100, 100, 100, 100, 100, 1...",2016-08-22,2016-08-23
73E65B76064901080209-0C00A85A0600,1,"[12, 10, 100, 100, 100, 100, 100, 100, 100, 10...",2016-08-22,2016-08-23